.container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: [row1-start] 60px [row1-end] 50px[row2-end] 400px [row3-end] 60px [row4-end];
  }
  
  #navbar {
    grid-column-start: 1;
    grid-column-end: span 5;
  }
  
  #sidebar {
    writing-mode: vertical-rl;
    grid-row-start: 2;
    grid-row-end: span 2;
  }
  
  #title {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  
  
  #content {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  
  #footer {
    grid-column-start: 1;
    grid-column-end: span 5;
  }