.container {
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(3, 1fr);
}

#grid-item-1 {
    grid-column-start: 1;
    grid-column-end: span 2;
}

#grid-item-2 {

}

#grid-item-3 {

}

#grid-item-4 {
    grid-column-start: 2;
    grid-column-end: span 2;
}
